@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "poppins", "sans-serif";
    scroll-behavior: smooth;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
}

.purple__gradient {
    background: linear-gradient(
        180deg,
        rgba(188, 165, 255, 0) 0%,
        #6841d3 100%
    );
    filter: blur(123px);
}

.pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
}

.white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
}

.text-gradient {
    background: radial-gradient(
        64.18% 64.18% at 71.16% 35.69%,
        #e8e2f7 0.89%,
        #c9bced 17.23%,
        #b8a5eb 42.04%,
        #a688fa 55.12%,
        #9171eb 71.54%,
        #6841d3 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.bg-intro-gradient {
    background: linear-gradient(125.17deg, #6841d3 0%, #11101d 100%);
}

.bg-purple-gradient {
    background: linear-gradient(
        157.81deg,
        #e8e2f7 -43.27%,
        #c9bced -21.24%,
        #b8a5eb 12.19%,
        #a688fa 29.82%,
        #9171eb 51.94%,
        #6841d3 90.29%
    );
}

.bg-grey-gradient {
    background: linear-gradient(125.17deg, #272727 0%, #18101d 100%);
}
.bg-grey-gradient-2 {
    background: linear-gradient(125.17deg, #272727 0%, #3a3a3a 100%);
}
.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sec-heading {
    font-size: 32px;
    font-family: "poppins", "sans";
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
}

.sec-paragraph {
    font-size: 18px;
    font-family: "poppins", "sans";
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
}

.heading {
    font-size: 36px;
    font-family: "poppins", "sans";
    font-weight: 700;
    margin: 1rem 0;
}

.paragraph {
    font-size: 18px;
    font-family: "poppins", "sans";
    font-weight: 400;
    margin: 1rem 0;
}

.gradient__text {
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slide-bg {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.hover-slide-bg {
    background-image: linear-gradient(to right, #000, #ae67fa);
    /* Primary color */
    background-size: 200% 100%;
    transition: background-position 1500ms ease;
}

.hover-slide-bg:hover {
    animation: slide-bg 1500ms forwards;
}
