@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    /* font-family: "poppins", "sans-serif"; */
    /* color:  */
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    /* color: #373737; */
}

/* 
.nav-link{
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    right: -3px;
    top: 9px;
}absolute rounded-full border-2 border-slate-500 -right-3 top-9 w-7 h-7 cursor-pointer */

.heading {
    margin: 0 16px;
    font-size: 20px;
    font-weight: bold;
}

.form-container {
    /* @apply max-w-[1024px]; */
    @apply mx-auto;
    @apply px-8;
    @apply py-4;
    @apply bg-dark-200;
    @apply shadow-xl;
    @apply rounded-xl;
}

.label {
    @apply block;
    @apply mb-2;
    @apply text-sm;
    @apply text-write;
}

.input {
    @apply w-full;
    @apply px-4;
    @apply py-2;
    @apply text-sm;
    @apply text-gray-700;
    @apply border border-gray-200;
    @apply rounded;
}

.input:focus {
    @apply ring-2;
    @apply ring-blue-500;
    @apply outline-none;
}

.select {
    @apply w-full;
    @apply px-4;
    @apply py-2;
    @apply text-sm;
    @apply text-gray-700;
    @apply border border-gray-200;
    @apply rounded;
}

.select:focus {
    @apply ring-2;
    @apply ring-blue-500;
    @apply outline-none;
}

.button {
    @apply px-4;
    @apply py-2;
    @apply text-sm;
    @apply text-white;
    @apply bg-blue-500;
    @apply hover:bg-blue-700;
    @apply rounded;
    @apply border border-transparent;
}

.button:hover {
    @apply shadow-md;
}

.table-container {
    @apply overflow-x-auto;
    @apply bg-dark-200;
    @apply shadow-md;
    @apply rounded-2xl;
}

.table {
    @apply w-full;
    @apply text-sm;
    @apply text-text-gray;
    @apply rounded-2xl;
}

.th {
    @apply bg-dark-300;
    @apply px-6;
    @apply py-4;
    @apply font-bold;
    @apply text-left;
    @apply border-b border-dark-300;
}

.td {
    @apply px-6;
    @apply py-4;
    @apply border-b border-tertiary;
}

.tr:nth-child(odd) {
    @apply bg-dark-200;
}

.tr:hover {
    @apply bg-dark-300;
}

.pagination {
    @apply flex;
    @apply justify-center;
    @apply mb-4;
}

.pagination-link {
    @apply px-4;
    @apply py-2;
    @apply text-gray-700;
    @apply hover:text-gray-900;
    @apply hover:bg-gray-100;
    @apply rounded;
    @apply border border-gray-200;
}

.pagination-link.active {
    @apply bg-gray-200;
    @apply text-gray-900;
    @apply font-bold;
}